.deals-and-discount-first-child {
  /* border: 1px solid green; */
  width: 1170px;
  margin: auto;
}

.deals-and-discount-text-div {
  /* border: 1px solid violet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deals-and-discount-text-div > h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.deals-and-discount-text-div > p {
  width: 643px;

  /* border: 1px solid blue; */

  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  margin: 24px auto 48px auto;
}

.bg-card {
  background: url("../Images/Group\ 39.png"), lightgray 50% / cover no-repeat;

  width: 1170px;
  height: 500px;

  border-radius: 16px;
  /* background-color: #ff5400; */

  margin: 0px auto 24px auto;
}

.package-icon {
  display: flex;

  margin: 50px 50px 26px 50px;
}

.side-by-side-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}

.icon-div {
  display: flex;
  margin: 0px 12px 0px 12px;
}

.icons {
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  color: #ff5400;

  margin: 3px 0px 0px 0px;
}

.icon-div > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inner-card-package-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin: 26px auto 16px 50px;
}

.inner-card-package-description {
  width: 452px;

  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */

  margin: auto auto 16px 50px;
}

.inner-card-package-price {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  margin: auto auto 16px 50px;
}

.book-btn {
  width: 150px;
  height: 52px;
  border-radius: 8px;

  margin: auto auto 16px 50px;
}

#bg-card-div-1,
#bg-card-div-3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#package-one,
#package-three {
  margin: auto 56px auto auto;
}

.inner-card-package {
  width: 579px;
  height: 389px;

  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

#bg-card-div-2 {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

#package-two {
  margin: auto auto auto 56px;
}

.see-all-packages-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-all-packages-button {
  width: 210px;
  height: 52px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #ff5400;

  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  border: none;
  margin: 50px auto 50px auto;
}

@media screen and (max-width: 576px) {
  .deals-and-discount-first-child {
    width: 576px;
    /* width: max-content; */
  }
  #deals-and-discount-text-one {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin: 24px 0px 0px 0px;
  }

  #deals-and-discount-text-two {
    width: 309px;

    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

    margin: 16px 0px 16px 0px;
  }

  .bg-card {
    width: 335px;
    height: 500px;
    flex-shrink: 0;

    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-card-package {
    width: 303px;
    height: 297px;
    flex-shrink: 0;

    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
  }
  .package-icon {
    display: flex;
    flex-wrap: wrap;

    margin: 25px auto 20px 25px;
  }

  .side-by-side-div {
    display: flex;
  }

  .icons {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .icon-div > p {
    color: #5a5a5d;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .inner-card-package-title {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin: 16px auto 16px 25px;
  }

  .inner-card-package-description {
    color: #5a5a5d;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;

    margin: 0px 25px 0px 25px;
  }

  .inner-card-package-price {
    color: #ff5400;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin: 12px auto auto 25px;
  }

  .book-btn {
    width: 130px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 8px;
    background: #ff5400;

    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 16px auto 25px 25px;
  }

  #bg-card-div-1,
  #bg-card-div-3 {
    display: flex;
    align-items: flex-end;
  }

  #bg-card-div-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #package-one,
  #package-three {
    margin: 0px 13px 16px 0px;
  }

  #package-two {
    margin: 0px 0px 16px 0px;
  }

  .see-all-packages-button-div {
    display: none;
  }
}
